@model Footer

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Header</h4>
            <form class="forms-sample" asp-controller="Footer" asp-action="Index" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1" asp-for="Photo">Logo</label>
                    <input type="file" accept="image/*" class="form-control" placeholder="Logo Url" asp-for="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1" asp-for="Facebook">Facebook Url</label>
                    <input type="text" class="form-control" placeholder="Facebook Url" asp-for="Facebook" value="@Model?.Facebook">
                    <span class="text-danger" asp-validation-for="Facebook"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1" asp-for="Linkedin">Linkedin Url</label>
                    <input type="text" class="form-control" placeholder="Linkedin Url" asp-for="Linkedin" value="@Model?.Linkedin">
                    <span class="text-danger" asp-validation-for="Linkedin"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>