@model ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        <input type="text" value="@Model.Username" readonly />
        <br />
        <input type="password" asp-for="OldPassword" placeholder="Old password" />
        <br />
        <input type="password" asp-for="NewPassword" placeholder="New password" />
        <br />
        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" />
        <br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
