@model Header

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Header</h4>
            <form class="forms-sample" asp-controller="Header" asp-action="Index" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1" asp-for="Photo">Logo</label>
                    <input type="file" accept="image/*" class="form-control" placeholder="Logo Url" asp-for="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>